body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton, .circleUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  height: 100px;
  width: 100px;
}

.nutDancer {
  background: url(http://xenboards.ignimgs.com/external_data/attachments/100/100307-f45f7f3be5b571e233b04505e69a1e34.jpg) no-repeat;
  background-size: 100%;
  z-index:0;
}

.bananaDancer {
  background: url(http://i.stack.imgur.com/e8nZC.gif) no-repeat;
  background-size: 100%;
  z-index:0;
}

.jellyDancer {
  background: url(http://img-cache.cdn.gaiaonline.com/2380720abcdbb95c53fc0e108a563344/http://i715.photobucket.com/albums/ww160/shuajo0712/tumblr_le3eoaJ5EN1qazdhko1_500.gif) no-repeat;
  background-size: 100%;
  z-index:0;
}

.musicPlayer {
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  float:left;
  display:block;
}

#danceFloor {
  float:left;
  display:block;
  width:80%;
  height:100%;
  position:relative;
  background: url(http://i.ytimg.com/vi/xPpLBP0OKL0/maxresdefault.jpg) no-repeat center;
  background-size: cover;
}

.bananaDot {
  background: url(http://i.stack.imgur.com/e8nZC.gif) no-repeat;
  background-size: 100%;
  position: absolute;
}

.nutDot {
  background: url(http://xenboards.ignimgs.com/external_data/attachments/100/100307-f45f7f3be5b571e233b04505e69a1e34.jpg) no-repeat;
  background-size: 100%;
  position: absolute;
}

.jellyDot {
  background: url(http://img-cache.cdn.gaiaonline.com/2380720abcdbb95c53fc0e108a563344/http://i715.photobucket.com/albums/ww160/shuajo0712/tumblr_le3eoaJ5EN1qazdhko1_500.gif) no-repeat;
  background-size: 100%;
  position: absolute;
}

.addDancer {
  float: left;
  width: 27%;
  margin: 3%;
}
.addDancer img {
  width: 100%;
  border: 2px #000000 solid;
}
